p {
    color: black;
    width: 500px;
    height: auto;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 0px solid #f5f5f5;
    border-left: 10px solid #2ebaed;
}

li {
    width: 500px;
    height: auto;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 0px solid #f5f5f5;
    border-left: 10px solid #2ebaed;
}

h1,
h2,
h3 {
    font-size: 30px;
    color: rgb(42, 183, 234);
}

h1 {
    width: 140px;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 0px solid #f5f5f5;
    border-left: 10px solid #f5f5f5;
}

h2 {
    width: 95px;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 0px solid #f5f5f5;
    border-left: 10px solid #f5f5f5;
}

h3 {
    width: 115px;
    border-radius: 10px;
    background-color: #f5f5f5;
    border: 0px solid #f5f5f5;
    border-left: 10px solid #f5f5f5;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 10px solid #2ebaed;
}

html {
    background-color: #f5f5f5;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

a {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    img {
        width: 120px;
        height: 120px;
    }

    h2 {
        font-size: 1.8rem;
    }
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

body {
    background-color: #d1d4ce;
    /* Light grey background */
}